* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'YS Text', 'Helvetica Neue', Arial, sans-serif;
}

.header {
  font-size: 15px;
  display: flex;
  justify-content: left;
  gap: 30px;
  padding: 20px;
  border-bottom: 1px solid #e2e3e4;
}

.header-center {
  width: 1000px;
  margin: 0 auto;
}

.justify-left {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 30px;
}

.justify-left .logo {
  padding-right: 18px;
}

.header a {
  text-decoration: none;
  color: #2557a9;
}

.header a:hover {
  color: #fc3f1d;
}

.container {
  margin: 45px auto;
  max-width: 1000px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.service {
  width: 33%;
  vertical-align: top;
}

.service img {
  margin-top: 6px;
}

.service a {
  text-decoration: none;
}

.service:hover {
  cursor: pointer;
}

.service-left {
  width: 56px;
  padding-top: 11px;
  vertical-align: top;
}

.service-right {
  padding: 18px 20px 28px 8px;
  vertical-align: top;
}

.service img {
  width: 48px;
  height: 48px;
}

.service .details {
  display: flex;
  flex-direction: column;
}

.details .title {
  font-size: 20px;
  color: #2557a9;
}

.details .description {
  font-size: 13px;
  margin-top: 6px;
  color: #000;
}

.service:hover .title {
  color: #fc3f1d;
}
