* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  font-family: 'YS Text', 'Helvetica Neue', Arial, sans-serif;
  font-size: 18px;
}

.display-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display-flex-space {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.margin-bot-15 {
  margin-bottom: 15px;
}

.margin-bot-60 {
  margin-bottom: 60px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-top-bot-13 {
  margin: 13px 0 0;
}

.margin-top-150 {
  margin-top: 150px;
}

.margin-bot-40 {
  margin-bottom: 40px;
}

.left {
  height: 100vh;
  width: 100%;
}

.left .title {
  font-size: 25px;
  font-weight: 500;
}

.left .content {
  max-width: 600px;
  font-size: 15px;
  text-align: center;
  color: #757575;
}

.left .icons {
  width: 475px;
}

.left-footer {
  width: 380px;
  padding: 30px 16px 0;
}

.left .links {
  font-size: 13px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.links a {
  text-decoration: none;
  color: #0044c1;
}

.right {
  height: 100vh;
  width: 100%;
}

.right .link {
  font-size: 13px;
  color: #999999;
  margin-bottom: auto;
  margin-left: auto;
  padding: 35px 25px;
}

.link a {
  color: #0044c1;
  text-decoration: none;
}

.register-form {
  padding: 30px 50px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 15px 30px 0 rgb(0, 0, 0, 10%);
}

.register-form form {
  gap: 25px;
  width: 100%;
}

.register-form form input {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
  font-size: 15px;
  padding: 10px 0px;
}

.register-form form input:focus {
  outline: none;
  border-bottom: 2px solid #fac000;
  font-size: 16px;
}

.register-form h1 {
  font-size: 21px;
  font-weight: 500;
}

form button {
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  padding: 11px;
  background-color: #fac000;
  border-radius: 10px;
  border: 1px solid #fac000;
}
