* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'YS Text', 'Helvetica Neue', Arial, sans-serif;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 14px 0px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .left {
  display: flex;
  gap: 6px;
}

.header .left svg {
  height: 30px;
}

.header .right .links,
.header .right span {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 13px;
}

.header .right .links {
  gap: 18px;
}

.header .right svg {
  height: 24px;
  width: 24px;
}

.header .right .L5rMK {
  width: 48px;
  height: 20px;
}

.header .right span {
  gap: 6px;
  cursor: pointer;
}

.header .right span:hover {
  color: #fc3f1d;
}

.login-btn {
  background-color: #f1f0ed;
  padding: 8px 12px;
  border-radius: 8px;
}

.login-btn a {
  text-decoration: none;
  color: #000;
  font-size: 15px;
}

.login-btn:hover {
  background-color: #ebe9e4;
}

.container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 30px auto;
}

.container-header {
  display: flex;
  gap: 30px;
}

.container-header span {
  cursor: pointer;
  font-size: 18px;
  display: flex;
  gap: 12px;
  padding: 12px 0px;
  align-items: center;
}

.container-header span:hover {
  color: #e50f4f;
}

.container-header .active {
  color: #e50f4f;
  cursor: default;
  border-bottom: 2px solid #e50f4f;
}

.container .container-main {
  margin-top: 20px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.container .container-main > div {
  font-size: 22px;
}

.container .container-main > div b {
  font-weight: 900;
}

.container-main .inputs {
  width: 100%;
  border: 2px solid #ffe356;
  border-radius: 7px;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline input {
  vertical-align: middle;
  width: 14%;
  padding: 10px;
  height: 50px;
  border: none;
  font-size: 18px;
  border-right: 1px solid #e5e5e5;
}

select.soflow {
  -webkit-appearance: button;
  height: 50px;
  font-size: 18px;
  border-right: 1px solid #e5e5e5;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  overflow: hidden;
  padding: 5px 10px;
  white-space: nowrap;
}

select.left {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

select.right {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

select.soflow.wide {
  min-width: 23%;
}

select.soflow.tight {
  width: 13%;
}

.form-inline button.submit {
  padding: 10px 30px;
  background-color: #ffe356;
  font-size: 18px;
  border: none;
  height: 50px;
  cursor: pointer;
  width: 14%;
}

.container .container-main .details {
  font-size: 32px;
  margin: 92px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 66.66%;
}

.details .details-pics {
  width: 1200px;
  display: flex;
  align-self: center;
  justify-content: space-between;
}

.details .details-pics > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-size: 18px;
}

.details .details-pics > div p {
  width: 260px;
}

.details .details-pics > div a {
  text-decoration: none;
  color: #004ed8;
}

.details .details-pics > div img {
  width: 220px;
}
